@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

/* ==============================
* content
* ============================== */
#container { overflow:hidden; padding-top:81px;}
.innerBox { position:relative; max-width:1400px; padding:0 20px; margin:0 auto;}

/* brands */
.brandsWrap { margin-top:0px;}
/* .brandsWrap { margin-top:0px;*text-transform:capitalize;} */
.brandsWrap .visual { position:relative; height:1120px;}
.brandsWrap .visual .visualImg { position:absolute; top:0; right:0; width:100%; height:100%;}
.brandsWrap .visual .visualImg img { width:100%; height:100%; object-fit: cover;}
.brandsWrap .visual .innerBox { height:100%; z-index:1;}
.brandsWrap .visual .subTit { padding-top:100px; font-size:60px; color:#111;font-family: 'baskerville old face';}
.brandsWrap .visual h2 { width:660px; font-size:120px; color:#111; font-family: 'baskerville old face'; line-height:0.8; font-weight: normal;}
.brandsWrap .visual .text { width:660px; margin-top:70px; font-size:18px; color:#111111; line-height:1.66; letter-spacing: -0.5px;}
.brandsWrap .visual .btnLinkGroup { display:flex; position:absolute; bottom:100px; left:0;}
.brandsWrap .visual .btnLinkGroup a { display:flex; position:relative; min-width:180px; height:50px; padding:0 40px 0 30px; margin-right:10px; border:1px solid #111; border-radius:50px; font-size:14px; color:#111111; align-items: center;}
.brandsWrap .visual .btnLinkGroup a:after { content:''; display:block; position:absolute; top:50%; right:20px; width:10px; height:16px; transform: translateY(-50%); background:url('../images/brands/btn_arrow.png') no-repeat center center / 100%;}
.brandsWrap .visual .btnLinkGroup .btn { color:#fff; background:#111; }
.brandsWrap .visual .btnLinkGroup .btn:after { background-image: url('../images/brands/btn_arrow2.png');}
.brandsWrap .visual .img_logo { position:absolute; top:280px; right:0; width:275px;}
.brandsWrap .brandTab { display:flex; margin:100px 0 0px; border:1px solid #e2e2e2;}
.brandsWrap .brandTab a { display:flex; flex:1 1 auto; width:100%; height:60px; align-items: center; justify-content: center; transition: all .3s ease;}
.brandsWrap .brandTab a + a { border-left:1px solid #e2e2e2;}
.brandsWrap .brandTab a:hover { color:#fff; background:#141a82}
.brandsWrap .brandsCont > div { padding-top:120px;}
.brandsWrap .brandsCont .innerBox > *:last-child { margin-bottom:0;}
.brandsWrap .brandsCont h3 { position:relative; font-size:90px; color:#111; font-family: 'baskerville old face'; line-height:0.8; font-weight: normal;}
.brandsWrap .brandsCont .editTit { position:relative; margin:80px 0 40px; font-size:24px; color:#111111; font-weight: bold;}
.brandsWrap .brandsCont .editBox { position:relative;}
.brandsWrap .brandsCont .editBox p { font-size:18px; color:#111111; letter-spacing: -0.5px; line-height:1.555;}
.brandsWrap .brandsCont .editBox p + p { margin-top:10px;}
.brandsWrap .brandsCont .editBox p b,
.brandsWrap .brandsCont .editBox p strong { display:inline-block; margin-bottom:10px; font-weight: bold;}
.brandsWrap .brandsCont .editBox p + ul { margin-top:10px;}
.brandsWrap .brandsCont .editBox ul li { position:relative; padding-left:18px; font-size:18px; color:#111111;}
.brandsWrap .brandsCont .editBox ul li + li { margin-top:5px;}
.brandsWrap .brandsCont .editBox ul li:before { content:''; display:inline-block; position:absolute; top:13px; left:0; width:5px; height:1px; background:#111;;}
.brandsWrap .brandsCont .editImgBox { position:relative; margin:90px 0; text-align:center;}

.brandsWrap .brandsCont .cont1 { min-height:934px;}
.brandsWrap .brandsCont .cont1 .img { position:absolute; top:0; width:1590px; height:934px; background:no-repeat center center / 100%;}
.brandsWrap .brandsCont .cont1 h3 { padding-top:700px; margin-bottom:80px;}
.brandsWrap .brandsCont .cont1 .editBox:nth-of-type(1) { width:700px;}

.brandsWrap .brandsCont .cont2 .img { height:720px; background:no-repeat center center / 100%;}
.brandsWrap .brandsCont .cont2 h3 { margin-bottom:120px; transform: translateY(-70%);}
.brandsWrap .brandsCont .cont2 .editTit { padding-left:80px}
.brandsWrap .brandsCont .cont2 .editTit:before { content:''; display:block; position:absolute; top:-8px; left:0; width:52px; height:50px; vertical-align: middle; background:url('../images/brands/ico_title.png') no-repeat center center / 100%;}
.brandsWrap .brandsCont .cont2 .boxType1 {}
.brandsWrap .brandsCont .cont2 .boxType2 { display:flex; position:relative; flex-flow:row-reverse wrap; margin-top:80px;}
.brandsWrap .brandsCont .cont2 .boxType2 .editTit { position:absolute; top:0; left:0; margin:0;}
.brandsWrap .brandsCont .cont2 .boxType2 .editImgBox { width:calc(50% - 20px);}
.brandsWrap .brandsCont .cont2 .boxType2 .editBox { width:calc(50% - 20px); margin-right:40px; margin-top:100px;}
.brandsWrap .brandsCont .cont2 .boxType3 { display:flex; position:relative; flex-flow:row wrap; margin-top:80px;}
.brandsWrap .brandsCont .cont2 .boxType3 .editTit { position:absolute; top:0; left:50%; margin:0;}
.brandsWrap .brandsCont .cont2 .boxType3 .editImgBox { width:calc(50% - 20px);}
.brandsWrap .brandsCont .cont2 .boxType3 .editBox { width:calc(50% - 20px); margin-right:0px; margin-left:40px; margin-top:100px;}

.brandsWrap .brandsCont .cont3 { margin-bottom:80px;}
.brandsWrap .brandsCont .cont3 h3 { margin-bottom:70px; }
.brandsWrap .brandsCont .cont3 .specList {}
.brandsWrap .brandsCont .cont3 .specList > li { display:flex;}
.brandsWrap .brandsCont .cont3 .specList > li + li { margin-top:30px;}
.brandsWrap .brandsCont .cont3 .specList .img { display:flex; flex:0 0 auto; width:630px; margin-right:70px; background:#f8f8f8; align-items: center;}
.brandsWrap .brandsCont .cont3 .specList .textBox { display:flex; flex-flow: column; justify-content: center;}
.brandsWrap .brandsCont .cont3 .specList .textBox .tit { margin-bottom:35px; font-size:30px; color:#111111; font-weight: normal;}

.brandsWrap .brandsCont .cont4 {}
.brandsWrap .brandsCont .cont4 h3 { margin-bottom:50px;}
.brandsWrap .brandsCont .cont4 .useGuide { display:flex;}
.brandsWrap .brandsCont .cont4 .useGuide .textBox { flex:1 1 auto; margin-right:20px;}
.brandsWrap .brandsCont .cont4 .useGuide .imgSwiper { flex:0 0 auto; width:560px;}
.brandsWrap .brandsCont .cont4 .useGuide .imgSwiper .slick-dots { margin-top:30px; justify-content: center; text-align:center;}
.brandsWrap .brandsCont .cont4 .useGuide .imgSwiper .slick-dots li { display:inline-block; width:10px; height:10px; margin:0 5px;}
.brandsWrap .brandsCont .cont4 .useGuide .imgSwiper .slick-dots li button { width:100%; height:100%; border-radius: 50%; font-size:0; background:#d7dce5;}
.brandsWrap .brandsCont .cont4 .useGuide .imgSwiper .slick-dots li.slick-active button { background:#000000}

.brandsWrap .brandsCont .cont5 h3 { margin-bottom:50px;}
.brandsWrap .brandsCont .cont5 .video { position:relative; padding-top:57%;}
.brandsWrap .brandsCont .cont5 .video iframe { position:absolute; top:0; left:0; width:100%; height:100%;}

.brandsWrap .brandsCont .cont6 { margin-bottom:120px;}
.brandsWrap .brandsCont .cont6 h3 { margin-bottom:50px;}
.brandsWrap .brandsCont .cont6 .itemList { display:flex; margin-left:-18px;}
.brandsWrap .brandsCont .cont6 .itemList li { flex:0 1 auto; width:calc(25% - 18px); margin-left:18px}
.brandsWrap .brandsCont .cont6 .itemList li .img {}
.brandsWrap .brandsCont .cont6 .itemList li .tit { margin-top:28px; font-size:18px; color:#111111; text-align:center;}
.brandsWrap .brandsCont .cont6 .itemList li .text { margin-top:18px; font-size:16px; color:#999999; text-align:center;}

/* locationTitle */
.locationTitleWrap { text-align:center;}
.locationTitle { position:relative; display:inline-block; min-width:300px; margin:50px auto 0; border-bottom:1px solid #e0d5b4;}
.locationTitle > a { display:flex; position:relative; height:100px; padding:0 50px 0 20px; align-items: center; font-family: 'Nanum Gothic', sans-serif; font-size:30px; color:#111;}
.locationTitle > a:after { content:''; display:block; position:absolute; top:50%; right:20px; width:16px; height:9px; background:url('../images/common/ico_location_arrow.png') no-repeat center center /100%; transform: translateY(-50%); transition: all .3s ease;}
.locationTitle .view { display:none; overflow:hidden; overflow-y: auto; position:absolute; top:100px; left:0; right:0; z-index:2; max-height:410px; border:1px solid #999999; border-radius:0 0 8px 8px; background:#fff;}
.locationTitle .view li + li { border-top:1px solid #e7e8ef;}
.locationTitle .view li > a { display:flex; position:relative; height:60px; padding-left:20px; align-items: center; font-size:16px; color:#111111; transition:all .3s ease;}
.locationTitle .view li > a.arrow:after { content:''; display:block; position:absolute; top:50%; right:20px; width:20px; height:3px; background:#e0d5b4;}
.locationTitle .view li.on > a { color:#fff; background:#e0d5b4;}
.locationTitle .view li.on a.arrow:after { background:#fff;}
.locationTitle .view .depth a { display:flex; position:relative; height:50px; padding-left:30px; border-top:1px solid #ededf2; font-size:14px; color:#999999; text-align:left; align-items: center;}
.locationTitle .view .depth a:before { content:''; display:block; position:absolute; top:50%; left:15px; width:3px; height:3px; background:#999999}
.locationTitle .view .depth a.on { color:#e0d5b4; background:#f8f8fa;}
.locationTitle .view .depth a.on:before { background:#e0d5b4;}

.locationTitle.on > a:after { transform: translateY(-50%) rotate(180deg);}

/* hover */
html:not(.mobile) .locationTitle .view .depth a:hover { color:#e0d5b4; background:#f8f8fa;}
html:not(.mobile) .locationTitle .view .depth a:hover:before { background:#e0d5b4;}
html:not(.mobile) .locationTitle .view li > a:hover { color:#fff; background:#e0d5b4;}
html:not(.mobile) .locationTitle .view li > a.arrow:hover:after { background:#fff;}

.subContTit { margin-top:60px; text-align: center; font-size:24px; color:#111111;}

/* tab */
.tabList { margin-top:66px; margin-bottom:80px; text-align:center; font-size:0;}
.tabList a { display:inline-flex; position:relative; width:240px; height:55px; margin:0 5px; border:1px solid #cecece; padding-left:30px; border-radius:55px; align-items: center; font-size:15px; color:#999999;letter-spacing:-0.5px;}
.tabList a:after { content:''; display:block; position:absolute; top:50%; right:30px; width:9px; height:14px; background:url('../images/common/ico_tab_arrow.png') no-repeat center center /100%; transform: translateY(-50%);}
.tabList a.on { border-color:#e0d5b4; color:#fff; background:#e0d5b4;}
.tabList a.on:after { width:14px; height:9px; background-image: url('../images/common/ico_tab_arrow_on.png');}

/* tableResultInfo */
.tableResultInfo { display:flex; margin:80px 0 25px; align-items: center;}
/* .tableResultInfo .tit { font-size:20px; color:#111111; font-weight:bold;} */
.tableResultInfo .tit { font-size:0px; color:#111111; font-weight:bold;}
.tableResultInfo .tit > span { vertical-align: middle; font-size:14px; color:#999999; font-weight:normal;}
.tableResultInfo .tit > span strong { color:#e0d5b4;}
/* .tableResultInfo .tit > span:before { content: ''; display:inline-block; margin:0 10px; width:1px; height:10px; margin-top:-2px; vertical-align: middle; background:#cecece;} */
.tableResultInfo .searchBox { display:flex; height:45px; margin-left:auto; border:1px solid #cecece;}
.tableResultInfo .searchBox .select { width:160px; height:100%; border:0; padding:0 0 0 20px; margin:0; border-right:1px solid #e6e6e6; outline:none; font-size:14px; color:#111;}
.tableResultInfo .searchBox input[type=text] { width:200px; height:100%; border:0; padding:0 0 0 20px; margin:0; outline:none; font-size:14px; color:#111;}
.tableResultInfo .searchBox .btnSearch { width:40px; height:100%; font-size:0; background:url('../images/common/btn_search.png') no-repeat center center/16px;}

/* noticeList */
.noticeList { margin-top:80px; border-top:1px solid #e0d5b4;}
.noticeList > * { display:flex; height:100px; align-items: center; border-bottom:1px solid #cecece;}
.noticeList > * .number { width:120px; padding-left:20px; font-size:14px; color:#999999; font-weight:bold;}
.noticeList > * .tit { flex:1 1 auto; padding:0 20px; font-size:18px; color:#111111;}
.noticeList > * .date { width:100px; padding-right:20px; text-align:right; font-size:14px; color:#999999; font-weight:bold;}
.noticeList > * .newsInfo { position:relative; width:120px; padding-right:15px; margin-right:10%; font-size:14px; color:#181d61; font-weight:bold;}
.noticeList > * .newsInfo:after { content:''; display:block; position:absolute; top:50%; right:0; width:12px; height:12px; background:url('../images/content/ico_share.png') no-repeat center center / 100%; transform:translateY(-50%);}

/* noticeView */
.noticeView { border-bottom:1px solid #999999;}
.noticeView .editBox { padding:80px 40px 120px;}
.noticeView .fileBox { display:flex; padding:30px 00px; border-top:1px solid #e6e6e6;}
.noticeView .fileBox .tit { flex:0 0 auto; padding:0 0 0 40px; font-size:18px; color:#111;}
.noticeView .fileBox .tit:after { content:''; display:inline-block; width:1px; height:12px; margin:0 35px; vertical-align: middle; background:#cecece;}
.noticeView .fileBox .file { display:flex; flex-wrap: wrap;}
.noticeView .fileBox .file a { margin-right:40px; font-size:14px; color:#111111;}

.noticeFooter { display:flex; margin-top:60px; justify-content: space-between; align-items: center;}
.noticeFooter a { display:flex; width:33.33%; align-items: center;}
.noticeFooter a .tit { flex:0 0 auto; font-size:14px; color:#111; font-weight:bold;}
.noticeFooter a .text { overflow: hidden; font-size:14px; color:#111111; white-space: nowrap; text-overflow: ellipsis;}
.noticeFooter .prev {}
.noticeFooter .prev:before { content:''; flex:0 0 auto; display:inline-block; width:10px; height:18px; margin-right:30px; background:url('../images/content/ico_notice_arrow.png') no-repeat center center / 100%;}
.noticeFooter .prev .tit:after { content:''; display:inline-block; width:1px; height:12px; margin:0 15px; vertical-align: middle; background:#cecece;}
.noticeFooter .next { flex-flow: row-reverse;}
.noticeFooter .next:before { content:''; flex:0 0 auto; display:inline-block; width:10px; height:18px; margin-left:30px; background:url('../images/content/ico_notice_arrow.png') no-repeat center center / 100%; transform:rotate(180deg);}
.noticeFooter .next .tit:before { content:''; display:inline-block; width:1px; height:12px; margin:0 15px; vertical-align: middle; background:#cecece;}
.noticeFooter .more { flex:0 0 auto; width:300px; height:60px; border:1px solid #cecece; font-size:14px; color:#111111; font-weight:bold; text-align:center; justify-content: center; transition:all .3s ease;}

html:not(.mobile) .noticeView .fileBox .file a:hover { color:#c2b388; text-decoration: underline;}
html:not(.mobile) .noticeFooter .more:hover { color:#fff; background:#111;}

/* paging */
.paging { margin-top:30px; text-align:center;}
.paging strong,
.paging a { display:inline-block; width:25px; height:25px; font-size:16px; color:#111111; line-height:25px; vertical-align: middle;}
.paging .btnPrev { font-size:0; background:url('../images/common/ico_paging_left.png') no-repeat center center /8px;}
.paging .btnNext { font-size:0; background:url('../images/common/ico_paging_right.png') no-repeat center center /8px;}

/* contentFooter */
.contentFooter { position:relative; margin-top:100px;}
.contentFooter:before { content:''; display:block; position:absolute; top:0; left:0; bottom:0; width:50%; background:#f4f4f6;}
.contentFooter:after { content:''; display:block; position:absolute; top:0; left:50%; bottom:0; width:50%; background:#ecebf0;}
.contentFooter .innerBox { display:flex; z-index:1;}
.contentFooter .innerBox h2 { position:relative; font-family: 'baskerville old face'; font-size:48px; color:#111111;}
.contentFooter .innerBox .text { position:relative; padding-right:50px; margin-top:50px; font-size:18px; color:#111111; background:url('../images/content/ico_contfooter_arrow.png') no-repeat right bottom / 41px;}
.contentFooter .left { width:50%; padding:90px 90px 90px 0;}
.contentFooter .right { position:relative; width:50%; padding:90px 0 90px 90px;}
.contentFooter .right:before { content:''; position:absolute; top:0; right:-90px; width:284px; height:224px; background:url('../images/content/bg_contfooter.png') no-repeat center center /100%;}

/* imgList */
.imgList { display:flex; flex-flow: wrap; margin-left:-60px; margin-top:80px;}
.imgList > a { flex:0 1 auto; width:calc(33.333% - 60px); margin-left:60px; margin-bottom:90px;}
.imgList .img { overflow:hidden; position:relative; padding-top:63%;}
.imgList .img span { display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:no-repeat center center / cover; transition: all .3s ease;}
.imgList .tit { overflow:hidden; position:relative; margin-top:35px; padding-left:10px; font-size:24px; color:#111; white-space: nowrap; text-overflow: ellipsis;}
.imgList .tit:after { content: ''; display:block; position:absolute; bottom:0; left:10px; width:0; height:1px; background:#111; transition:all .3s ease;}
.imgList .text { height:42px; padding-left:10px; margin-top:22px; font-size:15px; color:#111;}
.imgList .date { margin-top:22px; padding-left:10px; font-size:14px; color:#999999;}

.videoList > a .img { position:relative;}
.videoList > a .img:after { content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5) url('../images/content/ico_video.png') no-repeat center center / 40px;}

html:not(.mobile) .imgList > a:hover {}
html:not(.mobile) .imgList > a:hover .img span { transform: scale(1.2);}
html:not(.mobile) .imgList > a:hover .tit:after { width:20%;}


/* vision */
.visionBox { margin-top:80px;}
.visionBox h2 { margin-bottom:-17px; font-size:90px; line-height:1; color:#111; font-family: 'baskerville old face'; font-weight:normal;}

.visionVisual { background:url('../images/content/img_vision1.png') no-repeat center center / cover;}
.visionVisual .tit { padding-left:20px; padding-top:120px; font-size:30px; color:#fff; font-weight:200;}
.visionVisual .tit strong { font-weight:bold;}
.visionVisual .text { padding:55px 0 150px 20px; font-size:24px; color:#ffffff; font-weight:bold;}

.visionBox .sec01 {}
.visionBox .sec01 .img { position:absolute; top:-240px; right:20px; width:40%; text-align:right;}
.visionBox .sec01 .img img { box-shadow:0 140px 150px rgba(0,0,0,0.06)}
.visionBox .sec01 .textBox { width:50%; padding-left:20px;}
.visionBox .sec01 .textBox .tit { margin-top:80px; font-size:24px; color:#e0d5b3; font-weight:bold;}
.visionBox .sec01 .textBox .text { margin-top:18px; font-size:18px; color:#111111; letter-spacing: -1px; line-height:1.55;}

.visionBox .secLine { position:relative; height:350px}
.visionBox .secLine .innerBox { height:100%;}
.visionBox .secLine .img { position:absolute; top:-60px; left:50%; transform: translateX(-56%);}
.visionBox .secLine .bgText { position:absolute; top:50%; left:200px; width:1500px; font-size:150px; color:#ececec; font-family: 'baskerville old face'; font-weight:normal; transform: translateY(-50%);}

.visionBox .sec02 { position:relative}
.visionBox .sec02:before { content:''; position:absolute; top:-200px; left:50%; width:680px; height:683px; margin-left:-1050px; background:url('../images/content/bg_vision2.png') no-repeat center center / 100%;}
.visionBox .sec02 .img { position:absolute; bottom:20px; left:-120px; width:58%;}
.visionBox .sec02 .img img { box-shadow:0 140px 150px rgba(0,0,0,0.06)}
.visionBox .sec02 .textBox { margin-left:auto; width:50%; max-width:500px;}
.visionBox .sec02 .textBox .tit { margin-bottom:60px; font-size:24px; color:#e0d5b3; font-weight:bold;}
.visionBox .sec02 locationTitleWrap { margin-top:20px; font-size:18px; color:#111111; letter-spacing: -1px; line-height:1.55;}

/* certificate */
.certificateBox { margin-top:100px;}
.certificateBox .visual { height:391px; margin-bottom:100px; background:url('../images/content/img_certificate1.png') no-repeat center center / cover;}
.certificateBox .list { margin-bottom:80px;}
.certificateBox .list + .list { padding-top:80px; border-top:1px solid #e5e5e5;}
.certificateBox .list h2 { margin-bottom:45px; font-size:30px; color:#111; line-height:1;}
.certificateBox .list ul { display:flex; margin-left:-60px;}
.certificateBox .list ul li { flex:0 1 auto; width:calc(20% - 60px); max-width:204px; margin-left:60px;}
.certificateBox .list ul li .img { position:relative;}
.certificateBox .list ul li .img:after { content:''; position:absolute; bottom:0; right:-18px; width:18px; height:10px; background:url('../images/content/bg_certificate.png') no-repeat center center / 100%;}
.certificateBox .list ul li .text { margin-top:30px; font-size:14px; color:#111; text-align:center;}

/* RDBox */
.RDBox { margin-top:100px; }
.RDBox  .topCont { display:flex;}
.RDBox  .topCont h2 { flex:1 1 auto; font-size:75px; color:#111; font-family: 'baskerville old face'; font-weight: normal; line-height:1; letter-spacing: -1px;}
.RDBox  .topCont h2 span { font-family: 'baskerville old face'; line-height:1; letter-spacing: -1px;background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 76%, rgba(0,0,0,11) 78%, rgba(255,255,255,1) 78%, rgba(255,255,255,0) 100%);}
.RDBox  .topCont .text { flex:0 0 auto; font-size:16px; color:#111; text-align:right;}

.RDBox .innerBox .cover {width:80%; height:80%; margin-bottom:-100px;}
.RDBox .innerBox .setlist {margin-top:100px;}

.RDBox  .sec01 {margin:100px 0;}
.RDBox  .sec01 h3 {font-size:30px; color:#111;}
.RDBox  .sec01 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec01 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec02 {margin:100px 0;}
.RDBox  .sec02 h3 {font-size:30px; color:#111;}
.RDBox  .sec02 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec02 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec03 {margin:100px 0;}
.RDBox  .sec03 h3 {font-size:30px; color:#111;}
.RDBox  .sec03 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec03 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec04 {margin:100px 0;}
.RDBox  .sec04 h3 {font-size:30px; color:#111;}
.RDBox  .sec04 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec04 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec05 {margin:100px 0;}
.RDBox  .sec05 h3 {font-size:30px; color:#111;}
.RDBox  .sec05 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec05 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec06 {margin:100px 0;}
.RDBox  .sec06 h3 {font-size:30px; color:#111;}
.RDBox  .sec06 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec06 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec07 {margin:100px 0;}
.RDBox  .sec07 h3 {font-size:30px; color:#111;}
.RDBox  .sec07 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec07 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec08 {margin:100px 0;}
.RDBox  .sec08 h3 {font-size:30px; color:#111;}
.RDBox  .sec08 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec08 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec09 {margin:100px 0;}
.RDBox  .sec09 h3 {font-size:30px; color:#111;}
.RDBox  .sec09 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec09 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec10 {margin:100px 0;}
.RDBox  .sec10 h3 {font-size:30px; color:#111;}
.RDBox  .sec10 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec10 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec11 {margin:100px 0;}
.RDBox  .sec11 h3 {font-size:30px; color:#111;}
.RDBox  .sec11 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec11 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec12 {margin:100px 0;}
.RDBox  .sec12 h3 {font-size:30px; color:#111;}
.RDBox  .sec12 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec12 .setlist {position:relative; left:650px; top:-600px;}

.RDBox  .sec13 {margin:100px 0;}
.RDBox  .sec13 h3 {font-size:30px; color:#111;}
.RDBox  .sec13 .text {margin-top:25px; font-size:18px; color:#111;}
.RDBox  .sec13 .setlist {position:relative; left:650px; top:-600px;}

.innerBox .setlist .list {font-size: 15px;}

.cont {margin-top:50px;}
.cont_img {float:left;}
.cont_ins, .cont_twit {float:left; margin-left:20px;}